{% extends 'base.html.twig' %}

{% block content %}
<h2>Missions</h2>
<ul>
    {% for mission in missions %}
        <div class="card">
            {{ mission.title }} - {{ mission.location }}
            </br>
                {% for competence in mission.requiredCompetences %}
                    {{ competence.name }} (Niveau {{ competence.lvl }})
                {% endfor %}
            
        </div>
    {% endfor %}
</ul>

{% endblock %}
