{% extends 'base.html.twig' %}

{% block content %}
<h1>Créer une nouvelle équipe</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Créer</button>
{{ form_end(form) }}

<a href="{{ path('team_list') }}">Retour à la liste des équipes</a>
{% endblock %}
