{% extends 'base.html.twig' %}

{% block body_class %}about{% endblock %}

{% block title %}À propos{% endblock %}

{% block content %}
<h2>À propos</h2>
<p>Ce site explore les mystères de l'hyperespace et des voyages futuristes.</p>
{% endblock %}
