
/* Cartes */
.card {
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px #00d8ff;
    transition: all 0.3s ease-in-out;
    margin: 1.2vw;
}
.card:hover {
    border: 2px solid #00d8ff;
    box-shadow: 0 0 20px #00d8ff, 0 0 40px #00d8ff, 0 0 60px #00d8ff;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container.container_listing{
    flex-direction: column;
}


.big_card_spatioport{
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px #00d8ff;
    transition: all 0.3s ease-in-out;
    margin: 1.2vw;
    width: 20vw;
}
.big_card_spatioport:hover {
    border: 2px solid #00d8ff; /* Couleur néon */
    box-shadow: 0 0 20px #00d8ff, 0 0 40px #00d8ff, 0 0 60px #00d8ff;
    cursor: pointer;
}

/* Couleurs de bordure pour la classe first (trou noir) */
.card.first {
    border: 2px solid #ff0000;
    box-shadow: 0 0 15px #ff0000;
}

.card.first:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, #001b33 70%, transparent 90%);
    animation: spin 5s linear infinite;
    z-index: -1;
    border-radius: 50%;
}

.container_card_animal{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1vw;
 flex-wrap: wrap;
 margin-bottom: 2vh;
}

.card_animal{
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px #00d8ff;
    transition: all 0.3s ease-in-out;
    padding: 1vw;
    width: 6vw;
}
.card_animal:hover {
    border: 2px solid #ff3700; /* Couleur néon */
    box-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 60px #ff0000;
    cursor: pointer;
}
.big_card_animal, .card_spatioport{
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px #00d8ff;
    transition: all 0.3s ease-in-out;
    padding: 1vw;
    width: 20vw;
    height: 25vh;
}
.big_card_animal:hover, .card_spatioport:hover{
    border: 2px solid #00d8ff; /* Couleur néon */
    box-shadow: 0 0 20px #00d8ff, 0 0 40px #00d8ff, 0 0 60px #00d8ff;
    cursor: pointer;
}
/* Dernière carte (effet spécial pour last) */
.card.last {
    border: 2px solid #00ff00;
    box-shadow: 0 0 15px #00ff00;
}


form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#mercenhero{  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 22vw;
    padding: 1vw;
    margin: 1vw;
    border: 2px solid #00d8ff; /* Couleur néon */
    border-radius: 10px;
    box-shadow: 0 0 20px #00d8ff, 0 0 40px #00d8ff, 0 0 60px #00d8ff;
    background: #004e9200;
} 

#mercenhero > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Styles pour le formulaire */
.form-control {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.form-check-input {
    margin-right: 0.5rem;
}

button.btn-submit {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: #61dafb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button.btn-submit:hover {
    background-color: #0b132b;
    color: #61dafb;
}

.btn_create_mh{
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}

.btn_create_mh:hover {
    text-shadow: 
        0 0 5px #00d8ff, 0 0 10px #00d8ff, 0 0 20px #00d8ff, 
        0 0 40px #00aaff, 0 0 80px #0077aa, 0 0 120px #005599; 
    -webkit-text-stroke: 0.03vw black; 
}    

