{% extends 'base.html.twig' %}

{% block title %}Create Mercenhero{% endblock %}

{% block content %}
<h1>Create a New Mercenhero</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Save</button>
{{ form_end(form) }}
{% endblock %}
